.layout {
  display: flex;
  min-height: 100vh;
}

.aside {
  flex-shrink: 0;
  width: 240px;
}

.mainWrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.main {
  flex: 1;
  padding: var(--space-xl);
  outline: none;
}

.main:focus {
  outline: none;
}
